.header {
    background-color:greenyellow;  
    height: 40px;
}

.nav {
    background-color: red;
    height: 40px;
}

.section {
    background-color: yellow;
    height: 120px;
    display: flex;
    flex-direction: column;
    width: 800px;
}

.art {
    background-color: orange;
    margin: 10px;
    height: 40px;
    width: 600px;
}

.aside {
    background-color: grey;
}

.footer {
    background-color: lightblue;
    height: 40px;
}

